*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}
body{
  /* font-family: 'Raleway', sans-serif; */
  font-family: 'Roboto', sans-serif;
  color: #212121;
  font-size: 14px;
  letter-spacing: 0.03em ;
  background-color: white;
  display: block;

} 

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  
  
}
button{
  font-family:'Roboto', sans-serif;
}

a{
  text-decoration:none;
  color: #212121;
}
ul{
  list-style: none;
}

/* -----HEADER----- */

.logo{
  color: #2196F3;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.938em;
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
  
 
}
.link{
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  line-height: 1em;
  padding: 32px;
  padding-right: 50px;
  padding-top: 32px;
  padding-bottom: 32px;
  
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.email-link {
  padding-right: 50px;
}


header a:hover{
  color: #2196F3;
}
.email-link, .telephone-link{
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  line-height: 1em;
  padding-top: 32px;
  padding-bottom: 32px;

}
.link-active{
  color: #2196F3;
  font-size: 14px;
  font-weight: 500;
  line-height: 1em;
  letter-spacing: 0.02em;
}
.items{
  display: flex;
  
}
.contact-header{
  display: flex;
 
}

  

/* -----HERO---- */
.section{
  padding-top: 94px;
  padding-bottom: 94px;
  
}

.hero{
  background: #2F303A;
  color: #fff;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-image: url('../images/icons.svg/fondo.svg');
  background-position: center;

 

}
.button-hero{
  padding-bottom: 200px;
  margin: 0 auto;
  
}
.hero .title{
  font-size: 44px;
  font-weight: 900;
  letter-spacing: 0.06em;
  width: 696px;
  margin: auto;
  margin-bottom: 30px;



}
.hero .button-hero{
  background-color: #2196F3;
  color: #fff;
  padding: 10px 32px;
  display: block;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  line-height: 1.875em;
  font-weight: 700;
  
}
.cards-advantages{
 display: flex;
 flex-wrap: wrap;
 gap: 30px;
}


/* -----------CARDS------------ */

.title-advantages{
  display: none;

}

.card-advantages{
  flex-basis: calc((100% - 90px) / 4);
  
  
}
.title-details{
  color: #212121;
  font-size: 14px;
  line-height: 1em;
  font-weight: 700;
  

}
.card-text{
  color: #757575;
  line-height: 1.5em;
  font-size: 14px;
  font-weight: 400;
  margin-top: 10px;
  
}



/* --------ABOUT-------- */

.title-about{
  font-size: 36px;
  text-align: center;
  font-weight: 700;
  line-height: 2.637em;
  margin-bottom: 55.05px;
 
}
.about-images-list{
  flex-basis: calc((100% - 60px)/ 3);
  
  
}
.about-images{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}




/* --------------EQUIPEMENT----------- */


.title-equipment{
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  line-height: 2.637em;
  margin-bottom: 50px;
  
}

.card-equipment{
  text-align: center;
  width: 270px;
  height: 428px;
  flex-basis: calc((100% - 90px) / 4);
  background: #FFFFFF;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

}

.cards-equipments{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;


}
.card-name{
  font-size: 16px;
  font-weight: 500;
  line-height: 1.172em;
  margin-bottom: 10px;
}
.card-profesion{
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.172em;
  
}

.list-ordens:hover{
  background: #2196F3;
}


.names-profesions{
  padding-bottom: 30px;
  padding-top: 30px;
  padding-right: 44px;
  padding-left: 45px;
}
.list-ordens{
  flex-basis: calc((100% - 30px) / 4);
  padding:8px;
  border-radius: 100%;
  
}

.orden{
  display: flex;
  flex-wrap: wrap;
  gap:10px;
  margin-top: 16px;
  margin-bottom: 30px;
}

.title-clientes{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;
margin-top: 153px;

}
.list-clientes {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 44px;
}

.list-cliente {
 flex-basis: calc((100% - 150px) / 6); 
 margin-bottom: 151px;
}


footer{
  background-color: #2F303A;
  padding: 60px 0 60px 0;

}
.footer-city-link{
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5em;
}
footer .email-link, .telephone-link{
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5em;
}





/*-------Portafolio------*/



.selector-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  margin: 0 auto;
  margin-right: 300px;
  margin-left: 300px;


}

.selector-button-filter{
  border: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  padding: 6px 18px 6px 17px;
  margin-bottom: 50px;
  
}


.selector-button-filter:hover{
  color: #fff;
  background-color:#2196F3;
  
 
  
}

.filter-active{
  background-color: #2196F3;
  color: #fff;
}
.portfolio-card{
  flex-basis: calc((100% - 60px) /3);
  background: #FFFFFF;
  box-sizing: border-box;
  
  
}
.portfolio-title{
  font-size: 18px;
  font-weight: 700;
  line-height: 2.25em;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  
}
.portfolio-work{
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875em;

  
}
.portfolio-cards{
  display: flex;
  flex-wrap:wrap;
  gap: 30px;

}
.portfolio-profesion{
  padding-top: 20px;
  padding-bottom: 20px;
}
.titles-footer{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
color: #FFFFFF;
justify-content: center;
align-items: center;
margin-bottom: 20px;
}


.orden-footer{
  display: flex;
  flex-wrap:wrap;
  gap: 10px;

 
}
.list-ordens{
  flex-basis: calc((100% - 40px) /5);
 

}
address{
  display: flex;
  flex-wrap:wrap;
  gap: 156px;
}

.footer-contact .titles-footer{
  flex-basis: calc((100% - 156px) /2);
}
