*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}
body{
  /* font-family: 'Raleway', sans-serif; */
  font-family: 'Roboto', sans-serif;
  color: #212121;
  font-size: 14px;
  letter-spacing: 0.03em ;
  background-color: white;
  display: block;
  
} 

.container {
  width: 1200px;
  margin: 0 auto;
 
}
button{
  font-family:'Roboto', sans-serif;
}

a{
  text-decoration:none;
  color: #212121;
}
ul{
  list-style: none;
}

/* -----HEADER----- */

.logo{
  color: #2196F3;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.938em;
  padding-right: 93px;
  
 
}
.link{
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  line-height: 1em;
  padding: 32px;
  padding-right: 50px;

  
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.email-link {
  padding-right: 50px;
}


header a:hover{
  color: #2196F3;
}
.email-link, .telephone-link{
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  line-height: 1em;

}
.link-active{
  color: #2196F3;
  font-size: 14px;
  font-weight: 500;
  line-height: 1em;
  letter-spacing: 0.02em;
}
.items{
  display: flex;
  
}
.contact-header{
  display: flex;
  padding: 32px;
}

  

/* -----HERO---- */

.hero{
  background: #2F303A;
  color: #fff;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  
}
.button-hero{
  padding-bottom: 200px;
  margin: 0 auto;
  
}
.hero .title{
  font-size: 44px;
  font-weight: 900;
  letter-spacing: 0.06em;
  width: 696px;
  margin: auto;
  margin-bottom: 30px;



}
.hero .button-hero{
  background-color: #2196F3;
  color: #fff;
  padding: 10px 32px;
  display: block;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  line-height: 1.875em;
  font-weight: 700;
  
}
.cards-advantages{
 display: flex;
 flex-wrap: wrap;
 gap: 10px;
}


/* -----------CARDS------------ */

.title-advantages{
  display: none;

}

.card-advantages{
  width: 270px;
  
}
.title-details{
  color: #212121;
  font-size: 14px;
  line-height: 1em;
  font-weight: 700;
  margin-top: 95px;

}
.card-text{
  color: #757575;
  line-height: 1.5em;
  font-size: 14px;
  font-weight: 400;
  margin-top: 10px;
  
}



/* --------ABOUT-------- */

.title-about{
  font-size: 36px;
  text-align: center;
  font-weight: 700;
  line-height: 2.637em;
  margin-top: 94px;
  margin-bottom: 55.05px;
 
}
.about-images-list{
  margin-top: 55px;
  width: 373.16px;
  height: 323.7px;
  top: 1092.3px;
  
  
}
.about-images{
  display: flex;
  flex-wrap: wrap;
  gap: 10px
  
 
}




/* --------------EQUIPEMENT----------- */


.title-equipment{
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  line-height: 2.637em;
  margin-top: 188px;
  margin-bottom: 50px;
  
}

.card-equipment{
  text-align: center;
  width: 270px;
  height: 368px;
}

.cards-equipments{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 94px;

}
.card-name{
  font-size: 16px;
  font-weight: 500;
  line-height: 1.172em;
}
.card-profesion{
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.172em;
  
}


footer{
  background-color: #2F303A;
  height: 252px;

}
.footer-city-link{
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5em;
}
footer .email-link, .telephone-link{
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5em;
}





/*-------Portafolio------*/


.selector-button {
  margin-top: 106px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  width: 453px;
  margin: 0 auto;

}

.selector-button-filter{
  border: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625em;
  text-align: center;
  margin-top: 144px;
  margin-bottom: 56px;
  
}


.selector-button-filter:hover{
  color: #fff;
  background-color:#2196F3;
  padding-right: 8px;
  
}

.filter-active{
  background-color: #2196F3;
  color: #fff;
}
.portfolio-card{
  width: 370px;
  height: 404px;
  
}
.portfolio-title{
  font-size: 18px;
  font-weight: 700;
  line-height: 2.25em;
  letter-spacing: 0.06em;
  margin-top: 20px;
  
}
.portfolio-work{
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875em;
  margin-top: 4px;
  
}
.portfolio-cards{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 30px  
}

footer{
  margin-top: 82px;
}
footer .logo {
  padding-top: 60px;
  display: inline-block
}